{% extends 'base.html' %} {% block content %}

<h1>Signup Page</h1>

<form action="" method="POST">
  {% csrf_token %}

  <label for="username"> Username </label>
  <input type="text" name="username" />

  {{ error }}

  <label for="password"> Password </label>
  <input type="password" name="password" />

  <label for="first-name"> First name </label>
  <input type="text" name="first-name" />

  <label for="last-name"> Last Name </label>
  <input type="text" name="last-name" />

  <label for="email"> Email </label>
  <input type="email" name="email" />

  <label for="age"> Age </label>
  <input type="number" name="age" />

  <button type="submit">Submit</button>
</form>

{% endblock %}
